.centered
{
	width:300px;
	height:400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
/* Emulates a page, best on a light grey background */
.page
{
	margin-left: auto; 
	margin-right: auto;
	width: 65%;
	border-radius: 3px;
	background: white; 
	margin-top: 5%;
	margin-bottom: 8%;
	border: 2px solid #222222;
	overflow: auto;
}
/* Width must be set explicitly in the style for this to work.*/
.center-hz-fixed-w
{
	margin-left: auto; 
	margin-right: auto; 
}
.hline-center
{
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 1px solid #222222;
	width=100%;
}
/* A general monospace font for numbers */
.f-number
{
	font-family: 'Inconsolata', monospace;
}
.f-raleway-para
{
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.f-raleway-low
{
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 90%;
}
.f-playfair-head
{
	font-family: 'Playfair Display', serif;
}
.f-playfair-para
{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}
.topbar-block
{
	text-align: center; 
	display: inline-block;
}
/* Displays a group of things in a single row, vertically centered and evenly spaced. */
.org-row-spaced
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* The standard class for wtforms inputs

*/
.input-std
{
	border-radius: 4px;
	height:60px;
	font-size: 250%;
	width:100%;
	border: 2px solid black;
}
/* A text box/label whick looks much like the standard input */
.label-std
{
	border-radius: 4px;
	display: flex;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
}