.centered
{
	width:300px;
	height:400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.hline-center
{
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 1px solid black;
	width=100%;
}
.f-raleway-para
{
	font-family: 'Raleway', sans-serif;
}
.f-playfair-head
{
	font-family: 'Playfair Display', serif;
}
.f-playfair-para
{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}
.topbar-block
{
	text-align: center; 
	display: inline-block;
}