
/* Emulates a page, best on a light grey background */
.page
{
	margin-left: auto; 
	margin-right: auto;
	width: 65%;
	border-radius: 3px;
	background: white; 
	margin-top: 5%;
	margin-bottom: 8%;
	border: 2px solid #222222;
	overflow: auto;
}

.overlay-greyout
{
	position: absolute;
	top: 0; left: 0;
	width: 100vw; height:100vh;
	display: none;
	opacity: 0.25;
	background-color: #777777;
}

/* A class which creats an overlay box, abs positioned, taking up full screen, proper z-index, and hidden. */
.overlay-base
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height:100vh;
	display: none;
	z-index: 50;
}

/* Width must be set explicitly in the style for this to work.*/
.center-hz-fixed-w
{
	margin-left: auto; 
	margin-right: auto; 
}
/* A vertically centered (with padding) horizontal line */
.hline-center
{
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 1px solid #222222;
	width: 100%;
}
/* A automatically vertically centered (with padding) horizontal line */
.hline-center-auto
{
	height: 50%;
	border-top: 1px solid #222222;
	width: 100%;
}
/* A horizontal line, vert centered and horiz. centered. Width MUST be specified in style! */
.hline-center-cust
{
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}
/* A general monospace font for numbers */
.f-number
{
	font-family: 'Inconsolata', monospace;
}

.f-raleway-head {font-family: 'Raleway', serif;font-weight: 500;font-size: 200%;}
.f-raleway-medium {font-family: 'Raleway', sans-serif;font-weight: normal;font-size: 150%;}
.f-raleway-para {font-family: 'Raleway', sans-serif;font-weight: normal;font-size: 120%;}
.f-raleway-low {font-family: 'Raleway', sans-serif;font-weight: normal;font-size: 90%;}
.f-raleway-small {font-family: 'Raleway', sans-serif;font-weight: normal;font-size: 75%;}
.f-playfair-head {font-family: 'Playfair Display', serif;}
.f-playfair-head2 {font-family: 'Playfair Display', serif;font-weight: 500;font-size: 200%;}
.f-playfair-para {font-family: 'Playfair Display', serif;font-weight: normal;}
.f-playfair-subhead {font-family: 'Playfair Display', serif;font-weight: normal;font-size: 150%;}


.topbar
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Use this in conjunction with org-col-full-item to make a column which takes up the entire height of the page */
.org-col-full
{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* Items with this class inside an 'org-col-full' will take up the maximum amount of space (and equal each other) */
.org-col-full-item
{
	flex: 1;
}

/* Displays a group of things in a single row, vertically centered and evenly spaced.
   Can also be used to center stuff.*/
.org-row-spaced
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Displays a group of things in a single row, vertically centered and stacked left.*/
.org-row-left
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* Displays a group of things in a single row, aligned to the top and stacked left.*/
.org-row-top-left
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

/* Used to display two objects at opposite ends of a box.*/
.org-row-flung
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Displays children in a horizontally centered, vertical column */
.org-col
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Displays children in a horizontally centered, vertical column with space-between */
.org-col-flung
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* Designed to center a single object */
.org-center
{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 	A square home button. An image with the main icon should be nested below and nothing else.
	Width and height should be specified in an aux tag (to make it square...)*/
.home-square
{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* A nice rusty circle which displays the user ID #943D2C #D67646*/
.acct-circle
{
	width: 30px;
	height: 30px;
	border-radius: 17px;
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #333333;
}

/* Applies a top left 'float' to a div' */
.over-tl
{
	position: absolute;
	top: 0px;
	left: 0px; 
}

/* TOP DEAD CENTER! Applies a top-anchored 'floating' behavior to a div. Full page width, height dynamic. */
.over-tdc
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
}

/* The standard class for wtforms inputs */
.input-std
{
	border-radius: 4px;
	height:60px;
	font-size: 250%;
	width:100%;
	border: 2px solid black;
}

/* A light input box class */
.input-light
{
	border-radius: 4px;
	height:60px;
	width:100%;
	border: 1px solid black;
}
/* A checkbox style div which matches the input-light style */
.input-light-cbox
{
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 4px;
}

/* A checkbox style div which matches the input-med style */
.input-med-cbox
{
	height: 60px;
	width: 60px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #FFFFFF;
}

.input-light-cbox.checked{background-color: #999999;}
.input-med-cbox.checked{background-color: #999999;}
.input-light-cbox:hover{cursor: pointer;}
.input-med-cbox:hover{cursor: pointer;}

/* A light input box class, less tall than others */
.input-light-thin
{
	border-radius: 4px;
	height:40px;
	width:100%;
	border: 1px solid black;
}


/* An input, stripped of all borders, margins, etc to look like a div */
/* box-sizing: border-box;
	width: 100%; <-- add this stuff to make it size dynamically like a div.*/ 
.input-div
{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

/* A text box/label whick looks much like the standard input */
.label-std
{
	border-radius: 4px;
	display: flex;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
}

/* A text box/label whick looks much like the standard input */
.label-std-thin
{
	border-radius: 4px;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
}

/* A max sized tweaked text area class */
.textarea-full
{
	width: 100%; height: 100%;
	overflow: auto;
	resize: none;
	outline: none;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
}

/* A text area which approximates the behavior of a div. NOT EDITABLE! */
.textarea-div
{
	width: 100%; height: 100%;
	overflow: hidden;
	resize: none;
	outline: none;
	border: none;
}


/* Nice light-grey hover feature */
.hover-grey:hover {background-color: #777777}
.hover-red:hover {background-color: #D14D4D}

/* Used during drag and drop to indicate dropping onto a div or something */
.sel-highlight-bg
{
	background-color: #48636C;
	color: #FFFFFF;
	border-radius: 4px;
}

.sel-highlight-bg-lblue
{
	background-color: #d2dbdd;
	border-radius: 4px;
}

.sel-highlight-border-lblue
{
	border: 2px solid #d2dbdd;
	border-radius: 4px;
}

/*Makes something non-selectable*/
.unselectable
{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/*Special css for buttons, all this does is add the highlight behavior*/
.button-std
{
	
}

.button-std-greyd
{
	border: 1px solid #999999;
	color: #999999;
}.button-std:hover
{
	background-color: #48636C;
	color: #FFFFFF;
	cursor: pointer;
}

.button-light
{
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	background-color: #fff;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 1px;
	margin-right: 1px;
}.button-light:hover
{
	background-color: #eee;
}

/* This is a button which looks like simple text until you hover over it. */
.button-pretender
{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 12px;
	padding-left: 30px; padding-right: 30px;
}.button-pretender:hover
{
	border: 2px solid black;
}

/*An actual full version of a button that does not require other classes. Font, width, and/or height are still required.*/
.button-full
{
	width: max-content;
	border-radius: 4px;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.button-full:hover
{
	background-color: #48636C;
	color: #FFFFFF;
	cursor: pointer;
}

.button-full-non
{
	width: max-content;
	border-radius: 4px;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	padding-right: 5%;
	padding-left: 5%;
}

.button-full-non:hover
{
	background-color: #48636C;
	color: #FFFFFF;
	cursor: pointer;
}


.circle-small
{
	width: 10px;
	height: 10px;
	border: 1px black solid;
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

/* A medium circle, same lr space as small circle */
.circle-medium
{
	width: 20px;
	height: 20px;
	border: 1px black solid;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

/* A dynamic circle. Should be inside a square div (this is used with a jquery animation in the untether app)*/
.circle-dyn
{
	border-radius: 45%;
	border: 1px solid black;
	height: 90%; width: 90%;
	background-color: black;
	padding: 5%;
}

/* A pleasant etched border, with a margin to make the border INSIDE the boundaries of the div by a bit. */
.region-etch
{
	border: 1px solid #555555;
	border-radius: 7px;
	margin: 1vw;
}

.region-etch-header
{
	padding: 0.25vw;
	border-bottom: 1px black solid;
}

/* A region inside the etch region ideal for listing one-line statements. No text wrap */
.region-etch-lineblock
{
	padding: 0.5vw;
	overflow: scroll;
	white-space: nowrap;
}

/* Adds a cross-hatched background */
.region-crosshatched
{
	background: repeating-linear-gradient(
	45deg,
	#FFFFFF,
	#FFFFFF 10px,
	#777777 10px,
	#777777 20px
	);
}

/* The tilebox outer container. This is a fixed-width object which contains a jquery-scaled inner container.*/
.tilebox-outer
{
}

/* A special inner container which is autoscaled by jquery. Note: the first element under the inner MUST be
a tilebox-tile or the jquery autocentering feature will have issues*/
.tilebox-inner
{
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;
}

/* A tilebox tile for the launcher apps page*/
.tilebox-tile-app
{
	background: #f9f9f9;
	border: 1px solid #98999b;
	border-radius: 10px;
	
	height: 300px;
	width: 300px;
	margin: 25px;
	position: relative;
	display:inline-block;
	cursor: pointer;
	vertical-align: top;
}

/* A message which pops up in the tilebox to describe a tile */
.tilebox-tile-app-desc
{
	display: inline-block;
	width: 95%;
	border-top: 1px solid #98999b;
	border-bottom: 1px solid #98999b;
	padding: 25px;
}

/* ===================== Projects Viewer Classes =================== */
.proj-interface
{
	position: absolute;
	overflow-y: scroll;
}

/*Category entry block in nav left*/
.cat-entry
{
	
}
/*untether*/
.cat-entry-nameinput
{
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
}

/*The name part of a category entry*/
.cat-entry-topgroup
{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*The subregion of a category populated by projects and other categories*/
.cat-entry-subregion
{
	display: none;
	padding-left: 4vw;
}

.proj-entry
{
	cursor: pointer;
}

.proj-entry-name
{
	
}

/* Project title header */
.proj-header-title
{
	margin-bottom: 2vw;
	display: inline-block;
}

/*The line for line-and-circle that goes under the header. */
.proj-header-title-line
{
	margin-top: 1vw;
	width: 100%;
	height: 1px;
	background-color: black;
	position: relative;
}

.proj-header-title-circle
{
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	background-color: white;
	border: solid 1px black;
	border-radius: 50%;
	position: absolute;
	top: -6px;
	left: calc(50% - 5px);
}

/* Project sub category header. Simply underlines it.*/
.proj-header-sub1
{
	border-bottom: 1px black solid;
	display: inline-block;
}

/* Project sub category header. Second largest of the sub headers. Bolds it*/
.proj-header-sub2
{
	font-weight: bold;
	display: inline-block;
}

/* The main body of the project. This will usually be the outer container div of the project html file */
.proj-body-container
{
	padding: 3vh;
}

/*============================== Untether ================================*/
.note-entry
{
	cursor: pointer;
}

.note-entry-name
{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}