<head>
	<style>
		th {
			border: 1px solid black;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 5px;
			padding-right: 5px;
		}
		
		td {
			border: 1px solid grey;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 5px;
			padding-right: 5px;
		}
		
		.gbtn {
			border-radius: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #d6ebff;
		}
	</style>
</head>
<body>

<h1> Device Control </h1>
<br>
<h2> Global Device Actions </h2>
The buttons below apply an action to every device in the database. Be careful!<br>
<button id='gbtn_cfg_update' class='gbtn'> Cue Config Update </button>
<h2> Device Viewer </h2>
Enter devices to view. Valid inputs below (do not mix and match): <input type="text" name='placeholder' style="border-radius: 5px" id="devs"> <button id='devs_enter'> Enter </button>  <br>
<li> 24 (Single device) </li>
<li> 0-15 (Range of devices) </li>
<li> 2, 3, 34 (Specific devices) </li>
<li> somename@somesite.com (Gets all devices for a registered email)</li>
<br>
<br>
<table id='dev_table' style='
	border: 1px solid black;
	border-collapse: collapse;
'>
	<tr>
		<th> ID </th> 
		<th> Name </th> 
		<th> Status </th> 
		<th> FB </th> 
		<th> Capture </th> 
		<th> Cfg. Update </th> 
		<th> Act. Canvas </th> 
		<th> Curr. Version </th> 
		<th> Targ. Version </th> 
		<th> Change Version </th>
	</tr>

</table>

<script type="text/javascript" src="{{sp_local}}/js/jquery-3.2.1.min.js"> //Get JQUERY</script>

<script>
function init()
{
	$('#devs_enter').click(function()
	{
		$('.content_row').remove();
		loadDevices($('#devs').val());
	});
	$('#gbtn_cfg_update').click(function()
	{
		if(confirm('This will cue a configuration update for every device in the network. Are you sure?'))
		{
			$.getJSON("/admin/device_control/dev_cue_cfg_all")
				.done(function() 
				{
					console.log("Config update pushed successfully");
				});
		}
	});	
	$(document).ajaxError(function(event, jqxhr, settings, thrownError)
	{
		console.log("===========XHR ERROR===========")
		console.log(jqxhr.status + ": " + jqxhr.responseText)
		console.log("===============================")
	});
}

var ROWS = [];
var CT = 0;

//Populate table. 'devs' is the string from the first input
function loadDevices(devs)
{
	var darray = [];
	devs = devs.replace(' ', ''); //Remove all spaces
	if(devs.includes('@')) //If an email address.
	{
		$.getJSON("/admin/device_control/dev_get", {dev_email: devs})
			.done(function(devices) 
			{
				for(var x = 0; x < devices.length; x++)
				{
					makeDeviceEntry(devices[x]);
				}
			});
	}
	else
	{
		if(devs.includes('-')) //if is range
		{
			var vals = devs.split('-');
			var start = Math.min(parseInt(vals[0]), parseInt(vals[1]));
			var stop = Math.max(parseInt(vals[0]), parseInt(vals[1]));
			for(var x = start; x <= stop; x++)
			{
				darray.push(x)
			}
		}
		else //Is list or single
		{
			var vals = devs.split(',');
			for(var x = 0; x < vals.length; x++)
			{
				darray.push(parseInt(vals[x]));
			}
		}
		console.log('Getting devices: ');
		console.log(darray);
		devices = [];
		CT = darray.length;
		for(var x = 0; x < darray.length; x++)
		{
			dev_id = darray[x];
			$.getJSON("/admin/device_control/dev_get", {dev_id: dev_id})
				.done(function(device) 
				{
					devices.push(device);
					if(CT == 1)
					{
						devices.sort(function(a,b)
						{
							return parseInt(a.id) - parseInt(b.id);
						});
						for(var x = 0; x < devices.length; x++)
						{
							makeDeviceEntry(devices[x]);
						}
					}
					CT -= 1;
				});
		}
	}
}

//Makes a device entry. 'device' is a dict of device data.
function makeDeviceEntry(device)
{
	console.log('Adding row:');
	console.log(device);
	cols = [
		$('<td>').html(device.id),
		$('<td>').html(device.name),
		$('<td>').html(device.status),
		$('<td>').html(device.fb == 'True' ? '1' : '0'),
		$('<td>').html(device.capture == 'True' ? '1' : '0'),
		$('<td>').html(device.cfg_update == 'True' ? '1' : '0'),
		$('<td>').html(device.actcanvasid),
		$('<td>').html(device.version_crnt),
		$('<td>').html(device.version_tgt)];
	$change_version = $('<td>').append($('<input>').attr('size', 10).attr('type', 'text').attr('style', 'border-radius: 5px'));
	$enter = $('<td>').append($('<button>').html('Modify').click(function()
	{
		console.log('Modify. TODO actually attach this button to the server...');
	}));
	ROWS.push({cols: cols, $change_version: $change_version, $enter: $enter});
	$('#dev_table').find('tbody').append($('<tr class="content_row">').append(cols, $change_version, $enter));
}

init();
</script>