<body>
	<h1> Stock Image Batch Uploader</h1><br>
	<form id='tform' action="" method="post">
		Select images for batching. Current file formats are limited to .jpg and .png.
		<br>
		<input type="file" name="fileToUpload" id="input" style="padding-top: 20px;" multiple>
		<br><br>
		{#The hidden_tag is for CSRF prevention and needs to be in every form.#}
		{{ form.hidden_tag() }}
		<!--
		<div class="dropdown" id="o_imageadd_category">
			<input type="text" onclick="myFunction()" class="dropbtn"></input>
			<div id="myDropdown" class="dropdown-content">
				<a href="#home">Home</a>
				<a href="#about">About</a>
				<a href="#contact">Contact</a>
			</div>
		</div>-->
	</form>
	<br><hr><br>
	For each image below, supply the data it requires and hit 'upload'.<br><br>
	<div style='height: 500px; width: 500px'>
		<img id='preview' src='#' alt='Current Image' style='max-width: 100%; max-height: 100%;'></img><br>
	</div>
	Name:<br> <input type="text" style="border-radius: 5px" id="name"><br>
	Tags:<br> <input type="text" style="border-radius: 5px"  id="tags"><br>
	Category:<br> 
	<select type="text" style="border-radius: 5px"  id="cat"><br>
		<option value="none" selected> Select Category </option>
		<option id='cnew' value="new"> Create New </option>
		<!-- Options generated here -->
	</select> <input type="text" style="border-radius: 5px" id="new_cat_name"> <br>
	<button id='next'> Upload </button> <br>
</body>

<script type="text/javascript" src="{{sp_local}}/js/jquery-3.2.1.min.js">
//All other scripts will be loaded asynchronously, but jquery will be loaded manually because it
//is used to actually accomplish this.
</script>

<script>

var FILES;
var INDEX;

function init()
{
	$('#new_cat_name').hide();
	$('#input').change(function()
	{
		if(!this.files || !this.files[0])
		{
			alert('No files selected');
			return;
		}
		FILES = this.files;
		INDEX = 0;
		//Load first file into viewer
		readURL(this.files[0])
	});
	$('#next').click(function()
	{
		if(FILES)
		{
			processImage();
		}
	});
	var options = $("#cat");
	$.getJSON("/workspace/stock/cat_get_all")
		.done(function(json) 
		{
			$.each(json.cats, function()
			{
				//'this' is options
				$('#cnew').before($("<option />").val(this.id).text(this.name));
				
			});
		});
	options.change(function()
	{
		$ncf = $('#new_cat_name');
		if(options.val() == 'new')
		{
			$ncf.show();
		}
		else
		{
			$ncf.hide();
		}
	});
}

function processImage()
{
	//Upload the last image
	var name = $('#name').val();
	var cat = $('#cat').val();
	var tags = $('#tags').val();
	
	var new_cat_name = '';
	
	if(!name)
	{
		alert('Name must be provided!');
		return;
	}
	
	if(cat == 'new')
	{
		if($('#new_cat_name').val())
		{
			new_cat_name = $('#new_cat_name').val();
			cat = '';
		}
		else
		{
			alert('Must provide new category name!');
			return;
		}
	}
	else if(cat == 'none')
	{
		alert('Must select category!');
		return;
	}
	
	var fd = new FormData;
	fd.append("csrf_token", $('#csrf_token').val())
	fd.append("file", FILES[INDEX]);
	fd.append("cat_id", cat);
	fd.append("new_cat", new_cat_name);
	fd.append("name", name);
	fd.append("tags", tags);
	
	//use POST for files.
	$.ajax({
		url: "/admin/query/stock_create",
		data: fd,
		processData: false, //Because jQuery will convert the files arrays into strings and the server can't pick it up.
		contentType: false, //Set this to false because jQuery defaults to application/x-www-form-urlencoded and doesn't send the files. Also setting it to multipart/form-data doesn't seem to work either.
		type: 'POST',
		success: function(json)
		{
			console.log(json);
			if(json.new_cat_id)
			{
				$('#cnew').before($("<option />").val(json.new_cat_id).text(json.new_cat_name));
			}
			//Prep the next one.
			INDEX++;
			if(INDEX >= FILES.length)
			{
				$('#preview').attr('src', '#');
				FILES = null;
				return;
			}
			readURL(FILES[INDEX]);
		}
	});
}

//'file' is input.files[x]
function readURL(file)
{
	var reader = new FileReader();

	reader.onload = function (e)
	{
		$('#preview').attr('src', e.target.result);
	}

	reader.readAsDataURL(file);
}

init();

</script>