{% extends "l_standard.html" %}
{% block head %}
	{{ super() }}
<style>
body
{
	margin: 0;
}
h1
{
	margin: 10px;
}
</style>
{% endblock %}

{% block body %}
	<div style="width: 20vw;">
		<div class='org-row-spaced'>
			<div style='display: inline-block'>
				<h1 class='f-playfair-para'>The Archives</h1>
				<div class='hline-center'></div>
			</div>
		</div>
		<img src='{{sp_local}}/icons/web_archive_fin1.png?web_vsn={{ web_vsn }}' style='width: 20vw'>
	</div>
{% endblock %}
{% block script_jquery %} {{ super() }} {% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{sp_local}}/js/util.js?web_vsn={{ web_vsn }}">

</script>

<script>
</script>
{% endblock %}
{% block script_login %} {% endblock %}