<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
<link href="{{sp_local}}/css/general.css" rel="stylesheet">
<style>
body
{
	margin: 0;
}
h1
{
	margin: 10px;
}
</style>
</head>

<body>
	<div style="width: 20vw;">
		<div class='org-row-spaced'>
			<div style='display: inline-block'>
				<h1 class='f-playfair-para'>The Archives</h1>
				<div class='hline-center'></div>
			</div>
		</div>
		<img src='{{sp_local}}/icons/web_archive_fin1.png' style='width: 20vw'>
	</div>
</body>

</html>
<script type="text/javascript" src="{{sp_content}}/lib/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="{{sp_local}}/js/util.js">

</script>

<script>
console.log("init");
init();
</script>