<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
<link href="{{sp_local}}/css/general.css" rel="stylesheet">
<style>
body
{
	margin: 0;
}
a
{
  color:inherit;
  text-decoration: none;
}
h1
{
	margin: 10px;
}
</style>
</head>

<body>
	<div id='toplevel'> <!-- Map will load this div tag -->
		<div style='width: 20%; display: inline-block'>
		</div>
		<div style='width: 59.4%; display: inline-block'>
			<div style='display: inline-block'>
				<h1 class='f-playfair-para'><a href='/about'> About <a></h1>
				<div class='hline-center'></div>
			</div>
			<div class='f-raleway-para' style='display: block; margin-top: 10px;'>
				What is this strange site you stumbled across? What does it do?<br><br>
				
				I'm Josh Reed. I'm currently studying mechanical engineering, but I like to work with code as well in my free time. 
				I am the architect of this site.<br><br>
				
				The first and main function of this site is to act as a sort of foundry for web based projects; a machine shop for code.
				Web apps, IoT projects in need of a central hub, etc. I get into a decently expansive variety of projects, and this site
				acts as a much needed gateway into the walled garden of code and data.<br><br>
				
				Any decent set of projects has some sort of notebook or central plan behind them, which constitutes the second function of 
				this site. I've gone through a few dozen notebooks so far in my life, and I've always wished there was a decent way
				to index and retrieve the information inside. Well, the digital era is here, and so is this site. My misadventures
				in technology and design are all to be recorded here in the definitely-not-overused blog format. All jokes aside, detailed
				tech blogs have saved me countless hours of work, and I truly hope others can benefit from my projects in the same way.<br><br>
				
				Of course, services do exist which could do much of this for me, where's the fun in that? This site was entirely hand-written 
				and runs on a Linux box that I personally administer and built out of individual components and old roadsigns.
			</div>
		</div>
		<div style='width: 20%; display: inline-block'>
		</div>
	</div>
</body>

</html>
