<link rel="stylesheet" href="{{sp_local}}/css/login.css">
<body>
	<center>
		<br><br><br><br>
		<h2> Account creation is not open to the public just yet. </h2>
		<div style='width=35%; height=20%; position: relative'>
		Until our first product ships, account creation is dissallowed for the general<br>
		public. If you are a beta tester attempting to log in, please email us at<br>
		<br>
		<a style='font-weight:bold;'>admin@siriuslycreative.com<a>
		<br>
		<br>
		</div
		<br><br><br>

		<a href='/'><button type='button' class='btnSubmit'> Back To Landing </button></a>
	</center>
</body>

<script type="text/javascript" src="http://52.207.105.99/js/jquery-3.2.1.min.js">
//All other scripts will be loaded asynchronously, but jquery will be loaded manually because it
//is used to actually accomplish this.
</script>
<script>
$(".btnSubmit").mouseover( function() {
	$(this).attr("style", "background: #232F3E; color: #f1f1f1");
	})
	.mouseout( function() {
		$(this).attr("style", "background: transparent; color: #232F3E");
	});
</script>