{% extends "l_standard.html" %}
{% block head %}
	{{ super() }}
	<style>
	body
	{
		margin: 0;
	}
	.loginbutton
	{
		margin-top: 3vh;
		border-radius: 12px;
		height:60px;
		font-size: 200%;
		border: 2px solid black;
		background-color: #FFFFFF;
		cursor: pointer;
		padding-left: 1vw; padding-right: 1vw;
	}
	.loginbutton:hover
	{
		background-color: #DDDDDD;
	}
	</style>
{% endblock %}

{% block body %}
	<div class='org-col'style='width: 100vw; height: 100vh; padding-top: 25vh;'>
		<div class='f-playfair-head2'> 
			Account Created
			<div class='proj-header-title-line'>
				<div class='proj-header-title-circle'> </div>
			</div>
		</div>
		<div class='f-raleway-para' style='margin-top: 1vw'> Welcome to The Root </div>
		<div class='org-center loginbutton f-raleway-para' onclick='location.href = "/login";'> Back To Login </div>
	</div>
{% endblock %}
{% block script_jquery %} {% endblock %}
{% block scripts %}
{% endblock %}
{% block script_login %}
{% endblock %}
