<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
		<link href="{{sp_local}}/css/general.css?web_vsn={{ web_vsn }}" rel="stylesheet">
		<link rel='icon' href='{{sp_local}}/icons/favicon.png?web_vsn={{ web_vsn }}'>
		<title>The Root</title>
		<style>
			body
			{
				margin: 0;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div style='width: 100vw; height: 100vh'>
			<img src='{{sp_local}}/icons/morpheus.jpg?web_vsn={{ web_vsn }}' style='width: 100%; height: 100%'></img>
		</div>
		<div class='f-raleway-head org-col' style='position: absolute; width: 100vw; height: 30vh; top: 0; left: 0;'>
			<div style='color: #FFFFFF; font-size: 125%; margin-top: 5vh; margin-bottom: 2vh;'>
				You've been tricked!
			</div>
			<div style=' color: #FFFFFF; font-size: 300%; border-top: 3px solid white; text-align: center'>
				Prepare to meet your DOOM
			</div>
		</div>
	</body>
</html>