{% extends "l_standard.html" %}
{% block head %}
	{{ super() }}
<style>
body
{
	margin: 0;
}
h1
{
	margin-bottom: 0;
	margin-top: 0;
}
.exp-inline
{
	display: inline-block;
	width: 32%;
}
.input-long
{
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}
</style>
{% endblock %}

{% block body %}
	<div class='center-hz-fixed-w' style='margin-top: 5%; width: 70%'>
		<form action="" method="post">
			{#The hidden_tag is for CSRF prevention and needs to be in every form.#}
			{{ form.hidden_tag() }}
			<br>
			<center>
				<h1 class='f-playfair-para' style='font-size: 300%;'> {{form.amt.label}} </h1>
				<div style='width: 32%; margin-bottom: 50px'>
				{{ form.amt(class='input-std f-raleway-para', style='text-align: center') }}
				</div>
				<div class='exp-inline'>
					<h1 class='f-playfair-para' style='font-size: 300%;'> {{form.method.label}} </h1>
					{{ form.method(class='input-std f-raleway-para')}}
				</div>
				<div class='exp-inline'>
					<h1 class='f-playfair-para' style='font-size: 300%;'> {{form.type.label}} </h1>
					{{ form.type(class='input-std f-raleway-para')}}
				</div>
				<div class='exp-inline' style='margin-bottom: 50px'>
					<h1 class='f-playfair-para' style='font-size: 300%;'> {{form.dest.label}} </h1>
					{{ form.dest(id='dest', class='input-std f-raleway-para')}}
				</div>
			</center>
			<div class='input-long' id='dest_optional' style='display: none'>
				<h1 class='f-playfair-para' style='font-size: 300%;'> {{form.dest_optional.label}} </h1>
				{{ form.dest_optional(class='input-std f-raleway-para', placeholder='Optional') }}
			</div>
			<div class='input-long'>
				<h1 class='f-playfair-para' style='font-size: 300%;'> {{form.desc.label}} </h1>
				{{ form.desc(class='input-std f-raleway-para', placeholder='Optional') }}
			</div>
			<div class='input-long'>
				<div style='margin-right: 0; margin-left: auto; width: 30%; margin-top: 25px'>
					{{ form.submit(class='input-std f-raleway-para') }}
				</div>
			</div>
			{% if form.errors %}
			Reginald says:
			<ul class="errors">
				{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
						<li>{{ form[field_name].label }}: {{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
			{% endif %}
		</form>
	</div>
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="{{sp_content}}/lib/jquery-3.2.1.min.js"></script>

<script>

$dest = $('#dest');
$dest_opt = $('#dest_optional');

if($dest.val() == '__OTHER__') //If the new option selected is the 'new category'
{
	$dest_opt.show();
}
$dest.change(function()
{
	console.log('chang');
	if($dest.val() == '__OTHER__') //If the new option selected is the 'new category'
	{
		$dest_opt.show();
	}
	else
	{
		$dest_opt.hide();
	}
});

</script>
{% endblock %}