{% extends "l_standard.html" %}
{% block head %}
	{{ super() }}
<link href="{{sp_local}}/css/greensheet.css?web_vsn={{ web_vsn }}" rel="stylesheet">

<style>
body
{
	margin: 0;
	background: #e5e5e5;
}
h1
{
	margin-bottom: 10px;
	margin-top: 10px;
}

</style>
{% endblock %}

{% block body %}
	<div class='page' style='border: 2px solid #777777;'>
		<center><h1 class='f-playfair-para' style='color: #c00000; font-size: 225%' > - Rolling Greensheet - </h1></center>
		<div class='greenregion' style='display: flex; justify-content: space-between'>
			<div style='width: 20%'>
			</div>
			<div style='width: 60%; display: flex; justify-content: center'>
				<input type="date" class="datepicker" name="date_start" id="date_start">
				<div id='date_end_block' style='display: inline-block'>
					to
					<input type="date" class="datepicker" name="date_end" id="date_end">
				</div>
			</div>
			<div style='width: 20%; display: flex; justify-content: flex-end; padding-right: 4px;'>
				<div id='btn_time_week' class='button-light'>W</div>
				<div id='btn_time_month' class='button-light'>M</div>
				<div id='btn_time_all' class='button-light'>A</div>
			</div>
		</div>
		<div style='padding: 2vh;'>
			<canvas id='chart_global' style='height: 100%'></canvas>
		</div>
		<center class='greenregion' style='height: 25px; border-bottom: 2px solid #494529; border-top: 1px solid #494529;'>
		</center>
		<center class='orangeregion f-playfair-para' style='font-size: 150%;'>
			<div class='iblock'> Balance: $</div>
			<div class='iblock' id = 'balance'> 0.00 </div>
		</center>
		<div>
			<div class='chart-region' style='float: left; border-right: 1px solid #999999'>
				<canvas style='margin-left: auto; margin-right: auto; height: 100%' id='chart_expenses'></canvas>
			</div>
			<div class='chart-region' style='float: right;'>
				<canvas style='margin-left: auto; margin-right: auto; height: 100%' id='chart_income'></canvas>
			</div>
		</div>
		<div style="display: flex; clear: both">
			<div class='entry-list-header-block'>
				<div class='f-playfair-head entry-list-header'>
					<div> Expenses </div>
				</div>
				<div id='expenses_sub'></div>
				<div class='entry-list-footer'>
					<div class='iblock'> Total: $ </div><div class='iblock' id='expenses'> 0.00 </div>
				</div>
			</div>
			<div class='entry-list-header-block' style='border-left: 1px solid black'>
				<div class='f-playfair-head entry-list-header'>
					<div> Income </div>
				</div>
				<div id='income_sub'></div>
				<div class='entry-list-footer'>
					<div class='iblock'> Total: $ </div><div class='iblock' id='income'> 0.00 </div>
				</div>
			</div>
		</div>
		<div id='day_list' class='f-raleway-low'>
		</div>
	</div>
	<div id='mod_main' class='org-center' style='position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; display: none'>
		<div class='org-col f-raleway-head' style='background: white; border: 2px solid #777777; border-radius: 5px; padding: 2vw;'>
			<div class='f-playfair-para' style='color: #c00000; margin-bottom: 2vw;'> - Edit Transaction - </div>
			<div style='margin-bottom: 2vw;'> 
				Date 
				<input style='font-size: 60%' type="date" class="datepicker input-light-thin f-raleway-small" name="mod_date" id="mod_date">
			</div>
			<div id='mod_error' style='color: #FF0000; max-width: 60vw;'> </div>
			<div class='org-row-flung' style='width: 100%'>
				<div style='margin-right: 2vw; width: 30%'> 
					Time 
					<input size='5' style='padding: 0' type="text" class='input-light-thin f-raleway-small' id="mod_time">
				</div>
				<div style='margin-right: 2vw;'> Type 
					<select class='input-light-thin f-raleway-small' id='mod_type' style='height: 42px'>
						<option value='SELECT'>Select</option>
					</select>
				</div>
				<div> 
					Amount 
					<input style='padding: 0' type="text" class='input-light-thin f-raleway-small' id="mod_amount">
				</div>
			</div>
			<div style='width: 100%; margin-top: 2vw;'>
				Description:
				<input type="text" class='input-light-thin f-raleway-small' style='width: 100%' id="mod_desc">
			</div>
			<div class='org-row-flung' style='margin-top: 2vw; width: 100%'>
				<div id='mod_delete' class='button-full' style='height: 5vw; margin: 0'> Delete Trans. </div>
				<div class='org-row-flung'>
					<div id='mod_cancel' class='button-full' style='width: 10vw; height: 5vw; margin: 0 1vw 0 0'> Cancel </div>
					<div id='mod_save' class='button-full' style='width: 10vw; height: 5vw; margin: 0'> Save </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script_jquery %} {{ super() }} {% endblock %}
{% block scripts %}
<script src="{{sp_content}}/lib/moment2.18.1.min.js"></script>
<script src="{{sp_content}}/lib/chart2.4.0.min.js"></script>

<script type="text/javascript" src="{{sp_local}}/js/greensheet.js?web_vsn={{ web_vsn }}"></script>

<script>
init('{{sp_local}}', '{{sp_content}}');
</script>
{% endblock %}
{% block script_login %}
{% endblock %}