<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
<link href="{{sp_local}}/css/general.css" rel="stylesheet">
<style>
body
{
	margin: 0;
}
h1
{
	margin-bottom: 0;
	margin-top: 0;
}
.exp-inline
{
	width: 25%;
}

.exp-inline:hover
{
	background-color: #BBBBBB;
}
</style>
</head>
<body>
	<div style='margin-top: 5%; margin-left: 5%'>
		<h1 class='f-playfair-para' style='font-size: 200%;'> {{message}} </h1>
	</div>
	<div class='org-row-spaced' style='height: 200px;'>
		<div class='exp-inline label-std' onclick="window.location = '/reginald/transaction/income';">
			<h1 class='f-playfair-para' style='font-size: 300%;'> Income </h1>
		</div>
		<div class='exp-inline label-std' onclick="window.location = '/reginald/transaction/expense';">
			<h1 class='f-playfair-para' style='font-size: 300%;'> Expense </h1>
		</div>
		<div class='exp-inline label-std' onclick="window.location = '/reginald/greensheet';">
			<h1 class='f-playfair-para' style='font-size: 300%;'> Greensheet </h1>
		</div>
	</div>
</body>